TEACHTABLE_STORAGE_DRIVER=json
# Set to prisma to use PostgreSQL + Prisma mode.
# TEACHTABLE_STORAGE_DRIVER=prisma

# Example PostgreSQL connection
# DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/teachtable?schema=public"

# Firebase Authentication + web app config
FIREBASE_PROJECT_ID="teachtable-chpschool"
FIREBASE_WEB_API_KEY="AIzaSyClpCVopmm2uMz-VIo14qBTlygI5qW0F9U"
FIREBASE_AUTH_DOMAIN="teachtable-chpschool.firebaseapp.com"
FIREBASE_DATABASE_URL="https://teachtable-chpschool-default-rtdb.asia-southeast1.firebasedatabase.app"
FIREBASE_STORAGE_BUCKET="teachtable-chpschool.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="533934856388"
FIREBASE_APP_ID="1:533934856388:web:9731938ea1ed91fb699191"
